/* Proxima Nova */

@font-face {
	src: url('./../fonts/proxima_nova.woff2');
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url('./../fonts/proxima_nova-light.woff2');
	font-family: 'Proxima Nova';
	font-weight: 300;
	font-display: swap;
}

@font-face {
	src: url('./../fonts/proxima_nova-semibold.woff2');
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-display: swap;
}

/* Ophian */
@font-face {
	src: url('./../fonts/ophian-regular.woff2');
	font-family: 'Ophian';
	font-weight: 400;
	font-display: swap;
}

[class^='prox-'] {
	font-family: 'Proxima Nova';
}

[class^='oph-'] {
	font-family: 'Ophian';
}
